apiVersion: v1
kind: Service
metadata:
  name: drcio-controller
  namespace: fraud-detection
  labels:
    app: drcio-controller
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: metrics
  selector:
    app: drcio-controller
