apiVersion: batch/v1
kind: Job
metadata:
  name: batch-stress
  namespace: fraud-detection
  labels:
    app: batch-stress
    group-id: lp
    tier: backend
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: batch-stress
        group-id: lp
        tier: backend
    spec:
      restartPolicy: Never
      containers:
      - name: stress
        image: 320658617028.dkr.ecr.us-east-1.amazonaws.com/lp-batch:v1.0.0
        imagePullPolicy: Always
        env:
        - name: IO_INTENSITY
          value: "8"
        - name: DATA_DIR
          value: "/data"
        resources:
          requests:
            cpu: "1000m"
            memory: "2Gi"
          limits:
            cpu: "2000m"
            memory: "4Gi"
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: shared-data
